html {
    height: 100%;
    font-size: 14px;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

.montserrat-font {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.fraunces-font {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

h1 {
    margin: 0;
}

h1#perfume-name {
    color: hsl(212, 21%, 14%);
}

p {
    color: hsl(228, 12%, 48%);
    line-height: 1.8;
    margin: 0;
}

del {
    color: hsl(228, 12%, 48%);
}

.container {
    height: 90%;
    max-height: 90%;
    max-width: 90%;
}

.image-container {
    height: 40%;
    width: 100%;
    background-image: url("../images/image-product-mobile.jpg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img {
    width: 15px;
    height: 16px;
}

.text-container {
    height: 60%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.75em;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.current-price {
    color: hsl(158, 36%, 37%);
}

.discount-price {
    margin-left: 3em;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: none;
    padding: 1.3em;
    border-radius: 0.5em;
}

button:hover {
    background-color: hsl(141, 42%, 13%);
    cursor: pointer;
}

button p {
    margin-left: 0.5em;
    color: hsl(0, 0%, 100%);
}

/* MEDIA QUERIES */

@media screen and (min-width: 640px) {
    .container {
        max-width: 80%;
    }
    h1 {
        font-size: 2.2rem;
    }
    p,
    del {
        font-size: 1.2rem;
    }
    img {
        width: 20px;
        height: 21px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        height: 60%;
        display: flex;
    }
    h1 {
        font-size: 2.1rem;
    }
    p,
    del {
        font-size: 1.1rem;
    }
    img {
        width: 16px;
        height: 17px;
    }
    .image-container {
        width: 50%;
        height: 100%;
        background-image: url("../images/image-product-desktop.jpg");
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    .text-container {
        width: 50%;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 70%;
    }
    h1 {
        font-size: 2.2rem;
    }
    p,
    del {
        font-size: 1.2rem;
        line-height: 1.5;
    }
    img {
        width: 17px;
        height: 18px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 60%;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        max-width: 50%;
    }
}
